@model ApplicationUser

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h1>Build Studio</h1>
        <h4>Intelligent software design.</h4>
        <a class="btn btn-primary" asp-controller="Dashboard" asp-action="Index">Sign in</a>
    </div>
</div>
