<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Build Studio</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lumen.min.css" />
        <link href="~/lib/datatables/css/datatables.css" rel="stylesheet" />
        <link href="~/lib/datatables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
        <link href="~/lib/datatables/css/responsive.dataTables.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/animate/animate.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lumen.min.css" />
        <link href="~/lib/datatables/css/datatables.css" rel="stylesheet" />
        <link href="~/lib/datatables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
        <link href="~/lib/datatables/css/responsive.dataTables.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/animate/animate.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>

    @*@await  Html.PartialAsync("_NavbarPartial")*@

    <div class="container body-content">
        @RenderBody()

        @await Html.PartialAsync("_FooterPartial")
    </div>

    

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/datatables/js/datatables.js"></script>
        <script src="~/lib/datatables/js/dataTables.rowReorder.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.responsive.min.js"></script>
        <script src="~/lib/chart/chart.bundle.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/datatables/js/datatables.js"></script>
        <script src="~/lib/datatables/js/dataTables.rowReorder.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.responsive.min.js"></script>
        <script src="~/lib/chart/chart.bundle.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
